.gradient-background {
    background: linear-gradient(300deg, #00bfff, #734cff, #941a8e);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
.positioning{
    text-align: center;
    background: linear-gradient(300deg, #00bfff, #734cff, #941a8e);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    

}
.self{
   text-align: center;
   font-size: larger;
   
}
.img{
    border-radius: 50%;
}